<% layout('layout') -%>

<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box" id="box-tjual">
        <div class="box-header with-border">
          <h3 class="box-title">Daftar Penjualan</h3>
          
          <div class="box-tools">
            <div class="input-group input-group-sm date" id="tgl" style="width: 150px;" >
              <input type="text" class="form-control" name="tgl" readonly/>
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div id="alert-view"></div>
          <table id="tjual" class="display" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Kode</th>
                <th>SPBU</th>
                <th>Instansi</th>
                <th>Tanggal</th>
                <th>Liter</th>
                <th>Rupiah</th>
                <th>Bayar</th>
                <th>Dibuat</th>
                <th>Oleh</th>
                <th class="text-right has-button"><button type="button" class="btn btn-primary btn-sm" onclick="clearInput('', '', '', new Date(), '', '', '', '', '<%= nama_user %>', true)"><i class="fa fa-plus"></i></button></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Kode</th>
                <th>SPBU</th>
                <th>Instansi</th>
                <th>Tanggal</th>
                <th>Liter</th>
                <th>Rupiah</th>
                <th>Bayar</th>
                <th>Dibuat</th>
                <th>Oleh</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <% for (var i=0; i<jual.length; i++) { %>
                <tr>
                  <td><button type="button" class="btn btn-sm btn-info" onclick="showDetail('<%= jual[i].kd %>', '<%= jual[i].s_tanggal %>', '<%= jual[i].nm_instansi %>', '<%= jual[i].alias %>')"><%= jual[i].kd %></button></td>
                  <td><%= jual[i].alias %></td>
                  <td><%= jual[i].nm_instansi %></td>
                  <td><%= jual[i].s_tanggal %></td>
                  <td><%= jual[i].liter %></td>
                  <td><%= jual[i].rupiah %></td>
                  <td><%= jual[i].bayar %></td>
                  <td><%= jual[i].s_dibuat %></td>
                  <td><%= jual[i].nm_akun %></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-info" onclick="clearInput('<%= jual[i].kd %>', '<%= jual[i].kd_spbu %>', '<%= jual[i].kd_instansi %>', new Date('<%= jual[i].tanggal %>'), '<%= jual[i].liter %>', '<%= jual[i].rupiah %>', '<%= jual[i].bayar %>', '<%= jual[i].dibuat %>', '<%= jual[i].nm_akun %>', true)"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-sm btn-warning" onclick="hapus('<%= jual[i].kd %>', '<%= jual[i].s_tanggal %>', '<%= jual[i].nm_instansi %>', '<%= jual[i].alias %>')"><i class="fa fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="box" id="box-jual">
        <div class="box-header with-border">
          <h3 class="box-title">Transaksi Penjualan</h3>
        </div>
        <form id="form-jual" method="post" action="/jual" onsubmit="return simpan()">
          <div class="box-body">
            <div id="alert-input"></div>
            <div class="row">

              <div class="col-md-2">
                <div class="form-group">
                  <label>Kode</label>
                  <input type="hidden" name="okd" id="okd">
                  <input type="text" class="form-control" placeholder="Kode" name="kd" id="kd">
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label>SPBU</label>
                  <select class="form-control" id="kd_spbu" name="kd_spbu" data-live-search="true" required>
                    <% for (var i=0; i<spbu.length; i++) { %>
                      <option value="<%= spbu[i].kd %>">SPBU <%= spbu[i].kd_pertamina+' - SPBU '+spbu[i].alias %></option>
                    <% } %>
                  </select>
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label>Instansi</label>
                  <select class="form-control" id="kd_instansi" name="kd_instansi" data-live-search="true" required>
                    <% for (var i=0; i<instansi.length; i++) { %>
                      <option value="<%= instansi[i].dc %>"><%= instansi[i].nama %></option>
                    <% } %>
                  </select>
                </div>
              </div>
              
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label><input type="checkbox" id="notnow" name="notnow"> Tanggal</label>
                      <div class="input-group date" id="tanggal" >
                        <input type="text" class="form-control" name="tanggal" readonly/>
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Liter</label>
                      <input type="hidden" name="liter" id="liter">
                      <p class="up" id="txt-liter">...</p>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Bayar</label>
                      <select class="form-control" id="bayar" name="bayar" required>
                        <option value="tunai">Tunai</option>
                        <option value="transfer">Transfer</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Dibuat</label>
                      <p id="txt-dibuat">...</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Oleh</label>
                      <p id="txt-oleh">...</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label>Rupiah</label>
                  <input type="hidden" id="rupiah" name="rupiah">
                  <p class="txt-big" id="txt-rupiah">...</p>
                </div>
              </div>

            </div>
          </div>

          <div class="box-body no-padding">
            <table id="tdetjual" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>BBM</th>
                  <th class="text-center">Jenis</th>
                  <th class="text-right">Lembar</th>
                  <th class="text-center">Kupon</th>
                  <th class="text-right">Liter</th>
                  <th class="text-center">Harga</th>
                  <th class="text-right">Rp</th>
                  <th class="text-right pad-btn"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-tambah" onclick="clearKupon(-1, '', '', '', '', '', '', '', false)"><i class="fa fa-plus"></i></button></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <div class="box-footer">
            <button id="btn-simpan" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-cloud"></i> &nbsp; SIMPAN</button>
            <a id="btn-cetak" type="button" class="btn btn-success btn-sm" target="_blank"><i class="fa fa-print"></i> &nbsp; CETAK</a>
            <button type="button" class="btn btn-default btn-sm" onclick="clearInput('', '', '', new Date(), '', '', '', '', '', false)"><i class="fa fa-times"></i> &nbsp; BATAL</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>


<div class="modal fade" id="modal-detail">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Detail Transaksi</h4>
      </div>
      <div class="modal-body no-padding">
        <table class="table table-striped table-hover no-margin">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>BBM</th>
              <th class="text-center">Jenis</th>
              <th class="text-right">Lembar</th>
              <th class="text-center">Kupon</th>
              <th class="text-right">Liter</th>
              <th class="text-center">Harga</th>
              <th class="text-right">Rp</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-tambah">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tambah Kupon</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-2">
            <div class="form-group">
              <label>BBM</label>
              <input type="hidden" id="idx">
              <input type="hidden" id="det_kd">
              <select class="form-control" id="kd_bbm" name="kd_bbm" required>
                <% for (var i=0; i<bbm.length; i++) { %>
                  <option value="<%= bbm[i].kd %>"><%= bbm[i].nama %></option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Jenis</label>
              <select class="form-control" id="jenis" name="jenis" required></select>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Liter</label>
              <input type="number" class="form-control" placeholder="Liter" name="dliter" id="dliter" required>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <input type="hidden" id="lembar">
              <input type="hidden" id="kupon">
              <label><span id="lb-valid">Lembar</span>, Kupon Awal</label>
              <input type="hidden" id="valid-ltr" name="valid-ltr">
              <p class="up"><span id="txt-lembar">...</span>, <span id="txt-kupon">...</span></p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Rupiah @ <span id="txt-harga"></span></label>
              <input type="hidden" id="harga" name="harga">
              <input type="hidden" id="drupiah">
              <p class="up" id="txt-drupiah">...</p>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary" onclick="addKupon()">Tambah</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
  $(document).ready(function() {
    tjual= $('#tjual').DataTable({
      columns: [
        { data: 'kd' },
        { data: 'nm_spbu' },
        { data: 'nm_instansi' },
        { data: 's_tanggal' },
        { data: 'liter' },
        { data: 'rupiah' },
        { data: 'bayar' },
        { data: 's_dibuat' },
        { data: 'nm_akun' },
        { data: 'tombol', className: 'text-right has-button', orderable: false }
      ]
    });

    $('#tanggal').datetimepicker({
      viewMode: 'days',
      format: 'DD MMM YYYY - HH:mm:ss',
      date: new Date(),
      ignoreReadonly: true
    });

    $('#tgl').datetimepicker({
      viewMode: 'days',
      format: 'DD MMMM YYYY',
      date: '<%= tgl %>' == '' ? new Date() : new Date('<%= tgl %>'),
      ignoreReadonly: true
    });

    $('#kd_spbu').selectpicker();
    $('#kd_instansi').selectpicker();
    getKodeKupon();

    $('#tjual tbody').on( 'click', 'div.btn-group', function () {
      active_row = $(this).parents('tr');
    });

    $('#tgl').on('dp.change', function() {
      $('#tgl').data('DateTimePicker').format('YYYY-MM-DD');
      window.location.href = '/jual/'+$("input[name=tgl]").val();
    });

    $('#notnow').click(function() {
      now = $(this).is(':checked') ? false : true;
    });

    $('#kd_bbm').change(function() {
      getKupon(this.selectedIndex);
      if (this.value != '') $('#jenis').focus();
    });

    $('#jenis').change(function() {
      getKuponAwal();
      if (this.value != '') $('#dliter').focus();
    });

    $('#dliter').keyup(function() {
      cekKupon();
    });

    $("#dliter").keyup(function(e){ 
      var code = e.which;
      if (code==13) addKupon();
    });

    setInterval(function(){
      if (now) { $('#tanggal').data("DateTimePicker").date(new Date()); }
    }, 1000);
  });

  $('#box-jual').hide();
  let tjual, tdetjual = [], tkodekupon, active_row, now = true;
  let bbm = JSON.parse((`<%= JSON.stringify(bbm) %>`).replace(/&quot;/g, '"'));

  let m_liter = 0, m_rupiah = 0;

  function clearInput(kd, kd_spbu, kd_instansi, tanggal, liter, rupiah, bayar, dibuat, nm_akun, show) {
    if (show) {      
      $('#box-tjual').slideUp('fast', function() {
        $('#box-jual').slideDown('fast');

        tdetjual = [];
        if (kd == ''){
          calcTrans();
          $('#tdetjual tbody').html('');
        } else {
          $('#box-jual').LoadingOverlay('show');
          getDetail(kd, function() {
            reloadDetail();
            calcTrans();
            $('#box-jual').LoadingOverlay('hide', true);
          });
        }
      });
    } else {
      $('#box-jual').slideUp('fast', function() {
        $('#box-tjual').slideDown('fast');
      });
    }
    
    $('#btn-cetak').attr('href', kd == '' ? '' : '/jual/cetak/'+kd);
    $('#okd').val(kd);
    $('#kd').val(kd);
    if (kd == '') {
      $('#kd_spbu').selectpicker('deselectAll');
      $('#kd_instansi').selectpicker('deselectAll');
      $('#tdetjual button').show();
      $('#btn-simpan').show();
      $('#btn-cetak').hide();
    } else {
      $('#kd_spbu').val(kd_spbu);
      $('#kd_instansi').val(kd_instansi);
      $('#tdetjual button').hide();
      $('#btn-simpan').hide();
      $('#btn-cetak').show();
    }

    $('#notnow').prop('checked', kd != '');
    now = kd == '';

    $('#tanggal').data("DateTimePicker").date(tanggal);
    $('#bayar').val(bayar);
    $('#txt-dibuat').html(dibuat != '' ? js_fun.conv_date(new Date(dibuat)) : '');
    $('#txt-oleh').html(nm_akun);
  }

  function simpan() {
    if (tdetjual.length > 0) {
      $('#tanggal').data('DateTimePicker').format('YYYY-MM-DD HH:mm:ss');
      let arr_form = $('#form-jual').serializeArray();
      arr_form[8] = { name: 'det', value: JSON.stringify(tdetjual) };
      
      $("#box-jual").LoadingOverlay('show');
      $.ajax({
        type: 'POST',
        url: '/jual',
        data: arr_form
      }).done(function(data) {
        if (data.res == 'SUKSES') {
          if (data.op == 'BARU') {
            js_fun.show_notif('<strong>Sukses!</strong> Data baru telah berhasil tersimpan.', 'success');
          } else {
            js_fun.show_notif('<strong>Sukses!</strong> Data telah berhasil dirubah.', 'success');
          }
        } else {
          js_fun.show_notif('<strong>Gagal!</strong> Koneksi bermasalah.', 'warning');
        }

        if (data.res == 'SUKSES') {
          window.open('/jual/cetak/'+data.data.kd);
          reloadTampilan(data.op, data.data);
        }
      }).fail(function (jqXHR, textStatus) {
        if(confirm('Simpan data gagal, coba lagi?')){ simpan(); }
      }).always(function () {
        $('#tanggal').data('DateTimePicker').format('DD MMM YYYY - HH:mm');
        $('#box-jual').LoadingOverlay('hide', true);
      });
    } else {
      js_fun.show_notif('<strong>Peringatan!</strong> Kupon belum dimasukan.', 'warning');
    }
    return false;
  }

  function hapus(kd, tgl, cus, spbu) {
    if(confirm('Yakin ingin menghapus Transaksi '+js_fun.ucwords(cus)+' di SPBU '+spbu+' pada '+tgl+' ?')){
      $('#box-tjual .box-body').LoadingOverlay('show');
      jQuery.ajax({
        type: 'DELETE',
        url: '/jual',
        data: { kd: kd }
      }).done(function(data) {
        if (data.res == 'SUKSES') {
          tjual.row(active_row).remove().draw();
          active_row = null;
          js_fun.show_notif('<strong>Sukses!</strong> Data berhasil dihapus.', 'success');
        }else{ js_fun.show_notif('<strong>Gagal!</strong> Data gagal dihapus.', 'warning'); }
      }).fail(function (jqXHR, textStatus) {
        if(confirm('Hapus data gagal, coba lagi?')){ hapus(kd, tgl, cus, spbu); }
      }).always(function () {
        $('#box-tjual .box-body').LoadingOverlay('hide', true);
      });
    }
  }

  function reloadTampilan(op, data) {
    var data = {
      kd          : `<button type="button" class="btn btn-sm btn-info" onclick="showDetail('`+data.kd+`', '`+data.s_tanggal+`', '`+data.nm_instansi+`', '`+data.alias+`')">`+data.kd+`</button>`,
      nm_spbu     : data.alias,
      nm_instansi : data.nm_instansi,
      s_tanggal   : data.s_tanggal,
      liter       : data.liter,
      rupiah      : data.rupiah,
      bayar       : data.bayar,
      s_dibuat    : data.s_dibuat,
      nm_akun     : data.nm_akun,
      tombol      : `<div class="btn-group">
        <button type="button" class="btn btn-sm btn-info" onclick="clearInput('`+data.kd+`', '`+data.kd_spbu+`', '`+data.kd_instansi+`', new Date('`+data.tanggal+`'), '`+data.liter+`', '`+data.rupiah+`', '`+data.bayar+`', '`+data.dibuat+`', '`+data.nm_akun+`', true)"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-sm btn-warning" onclick="hapus('`+data.kd+`', '`+data.s_tanggal+`', '`+data.nm_instansi+`', '`+data.alias+`')"><i class="fa fa-trash"></i></button>
      </div>`
    };
    
    if(op=='UBAH'){ tjual.row(active_row).remove().draw(); }
    tjual.row.add(data).draw();
    active_row = null;

    clearInput('', '', '', new Date(), '', '', '', '', '', false);
  }

  function reloadDetail() {
    let t_html = '';
    for (let i=0; i<tdetjual.length; i++) {
      t_html += `<tr><td>`+(i+1)+`.</td>
        <td>`+tdetjual[i].nm_bbm+`</td>
        <td class="text-center">`+tdetjual[i].jenis+`</td>
        <td class="text-right">`+tdetjual[i].lembar+`</td>
        <td class="text-center">`+tdetjual[i].kupon+` - `+(tdetjual[i].kupon + tdetjual[i].lembar - 1)+`</td>
        <td class="text-right">`+tdetjual[i].liter+`</td>
        <td class="text-center">`+tdetjual[i].harga.toLocaleString(['ban', 'id'])+`</td>
        <td class="text-right">`+tdetjual[i].rupiah.toLocaleString(['ban', 'id'])+`</td>
        <td class="text-right pad-btn">
          `+($('#okd').val() == '' ? `<div class="btn-group">
            <button type="button" class="btn btn-sm btn-info" onclick="clearKupon(`+i+`, '`+tdetjual[i].kd+`', `+tdetjual[i].kd_bbm+`, `+tdetjual[i].jenis+`, `+tdetjual[i].liter+`, `+tdetjual[i].lembar+`, `+tdetjual[i].kupon_awal+`, `+tdetjual[i].rupiah+`, true)"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-sm btn-warning" onclick="hapus(`+i+`, '`+tdetjual[i].nm_bbm+`', '`+tdetjual[i].jenis+`')"><i class="fa fa-trash"></i></button>
          </div>` : '')+`
        </td></tr>`;
    }
    $('#tdetjual tbody').html(t_html);
  }

  function showDetail(kd, tgl, cus, spbu) {
    $('#modal-detail').modal('show');
    $('#modal-detail table').LoadingOverlay('show');
    $('#modal-detail .modal-title').html(tgl+' - Transaksi '+js_fun.ucwords(cus)+' di SPBU '+spbu)
        
    getDetail(kd, function() {
      let t_html = '', lembar = 0, liter = 0, rupiah = 0;
      for (let i=0; i<tdetjual.length; i++) {
        lembar += tdetjual[i].lembar;
        liter += tdetjual[i].liter;
        rupiah += tdetjual[i].rupiah;

        t_html += `<tr><td>`+(i+1)+`.</td>
        <td>`+tdetjual[i].nm_bbm+`</td>
        <td class="text-center">`+tdetjual[i].jenis+`</td>
        <td class="text-right">`+tdetjual[i].lembar+`</td>
        <td class="text-center">`+tdetjual[i].kupon+` - `+(tdetjual[i].kupon + tdetjual[i].lembar - 1)+`</td>
        <td class="text-right">`+tdetjual[i].liter+`</td>
        <td class="text-center">`+tdetjual[i].harga.toLocaleString(['ban', 'id'])+`</td>
        <td class="text-right">`+tdetjual[i].rupiah.toLocaleString(['ban', 'id'])+`</td></tr>`;
      }
      t_html += `<tr><th colspan="3" class="text-center">T O T A L</th>
        <th class="text-right">`+lembar+`</th>
        <th></th>
        <th class="text-right">`+liter+`</th>
        <th></th>
        <th class="text-right">`+rupiah.toLocaleString(['ban', 'id'])+`</th></tr>`;

      $('#modal-detail table tbody').html(t_html);
      $('#modal-detail table').LoadingOverlay('hide', true);
    });
  }

  function getDetail(kd, next) {
    $.ajax({
      type: 'GET',
      url: '/jual/detail',
      data: { kd: kd }
    }).done(function(data) {
      let t_arr = [];
      for (let i=0; i<data.length; i++) {
        t_arr.push({
          idx: i,
          kd: data[i].kd,
          kd_bbm: data[i].kd_bbm,
          nm_bbm: data[i].nm_bbm,
          jenis: data[i].jenis,
          liter: data[i].liter,
          lembar: data[i].lembar,
          kupon: data[i].kupon_awal,
          rupiah: data[i].rupiah,
          harga: data[i].harga
        });
      }
      tdetjual = t_arr;
      next();
    }).fail(function (jqXHR, textStatus) {
      if(confirm('Detail transaksi gagal ditarik, coba lagi?')){ getDetail(kd); }
    });
  }

  function calcTrans() {
    m_liter = 0, m_rupiah = 0;
    for (let i=0; i<tdetjual.length; i++) {
      m_liter += tdetjual[i].liter;
      m_rupiah += tdetjual[i].rupiah;
    }
    
    $('#liter').val(m_liter);
    $('#txt-liter').html(m_liter.toLocaleString(['ban', 'id']));
    
    $('#rupiah').val(m_rupiah);
    $('#txt-rupiah').html(m_rupiah.toLocaleString(['ban', 'id']));
  }
  
  function getKupon(index) {
    $('#jenis').html('');
    if (index > -1) {
      var temp_txt = '', jenis = bbm[index].jumlah.split("-");
      for (var i=0; i<jenis.length; i++) {
        temp_txt += `<option value="`+jenis[i]+`">`+jenis[i]+`</option>`;
      }
      $('#harga').val(bbm[index].harga);
      $('#txt-harga').html(bbm[index].harga);
      $('#jenis').html(temp_txt);
      $('#jenis').val('');
    }
  }

  function getKuponAwal() {
    if ($('#jenis').val() != '' && $('#det_kd').val() == '') {
      let ret = 1,
        kd_bbm = $('#kd_bbm').val(),
        jenis = $('#jenis').val();
      
      for (var i=0; i<tkodekupon.length; i++) {
        if (tkodekupon[i].kd_bbm == kd_bbm && tkodekupon[i].jenis == jenis) {
          ret = tkodekupon[i].kpn_baru;
          break;
        }
      }

      $('#kupon').val(ret);
      $('#txt-kupon').html(ret);
    }
      
    let isEx = isExist($('#kd_bbm').val(), $('#jenis').val());
    if (isEx > -1 && isEx != $('#idx').val()) {
      if(confirm($('#kd_bbm').val()+' telah ditambahkan, lakukan edit pada data tersebut ?')){
        clearKupon(isEx, tdetjual[isEx].kd, tdetjual[isEx].kd_bbm, tdetjual[isEx].jenis, tdetjual[isEx].liter, tdetjual[isEx].lembar, tdetjual[isEx].kupon, tdetjual[isEx].rupiah, false);
      } else {
        $('#jenis').val('');
      }
    } else {
      cekKupon();
    }
  }

  function cekKupon() {
    let jenis = parseInt($('#jenis').val()),
      liter = parseInt($('#dliter').val() != '' ? $('#dliter').val() : 0),
      harga = parseInt($('#harga').val()),
      kupon = (liter > 0 ? liter/jenis : 0),
      drupiah = (liter > 0 ? liter * harga : 0),
      trupiah = drupiah.toLocaleString(['ban', 'id']);

    $('#lembar').val(kupon);
    $('#txt-lembar').html(kupon);
    $('#valid-ltr').val(kupon%1==0 && jenis!='' && liter>0 ? 1 : 0);
    $('#lb-valid').attr('class', $('#valid-ltr').val() == 1 ? 'text-green' : 'text-red');
    $('#drupiah').val(drupiah);
    $('#txt-drupiah').html(($('#jenis').val()!='' && $('#dliter').val()!='' ? trupiah : 0).toLocaleString(['ban', 'id']));
  }

  function getKodeKupon() {
    tkodekupon = [];
    if ($('#kd_spbu').val() != '') {
      $('#tdetjual').LoadingOverlay('show');
      jQuery.ajax({
        type: 'GET',
        url: '/jual/kode_kupon',
        data: { spbu: $('#kd_spbu').val() }
      }).done(function(data) {
        tkodekupon = data;
      }).fail(function (jqXHR, textStatus) {
        if(confirm('Ambil kode kupon gagal, coba lagi?')){ getKodeKupon(); }
      }).always(function () {
        $('#tdetjual').LoadingOverlay('hide', true);
      });
    }
  }

  function clearKupon(idx, det_kd, kd_bbm, jenis, dliter, lembar, kupon, drupiah, show) {
    $('#idx').val(idx);
    $('#det_kd').val(det_kd);
    $('#kd_bbm').val(kd_bbm);
    $('#kd_bbm').trigger('change');
    $('#jenis').val(jenis);
    $('#dliter').val(dliter);
    $('#lembar').val(lembar);
    $('#txt-lembar').html(lembar);
    $('#kupon').val(kupon);
    $('#txt-kupon').html(kupon);
    $('#drupiah').val(drupiah);
    $('#txt-drupiah').html(drupiah.toLocaleString(['ban', 'id']));

    $('#valid-ltr').val(idx > -1 ? 1 : 0);
    $('#lb-valid').attr('class', idx > -1 ? 'text-green' : 'text-red');

    if (show) { $('#modal-tambah').modal('show'); }
  }

  $('#modal-tambah').on('shown.bs.modal', function() {
    $('#kd_bbm').focus();
  });

  function isExist(kd_bbm, jenis) {
    let ret = -1;
    for (var i=0; i<tdetjual.length; i++) {
      if (kd_bbm == tdetjual[i].kd_bbm && jenis == tdetjual[i].jenis) {
        ret = i;
        break;
      }
    }

    return ret;
  }

  function addKupon() {
    if($('#valid-ltr').val() == 1){
      let t_arr = {
        idx: parseInt($('#idx').val() == -1 ? tdetjual.length : $('#idx').val()),
        kd: $('#det_kd').val(),
        kd_bbm: $('#kd_bbm').val(),
        nm_bbm: $("#kd_bbm option:selected").text(),
        jenis: $('#jenis').val(),
        liter: parseInt($('#dliter').val()),
        lembar: parseInt($('#lembar').val()),
        kupon: parseInt($('#kupon').val()),
        rupiah: parseInt($('#drupiah').val()),
        harga: parseInt($('#harga').val())
      };

      let act = '';
      if ($('#idx').val() == -1) {
        tdetjual.push(t_arr);
        act = 'add';
      } else {
        tdetjual[t_arr.idx] = t_arr;
      }

      let txt_html = `<td>`+(t_arr.idx+1)+`.</td>
        <td>`+$("#kd_bbm option:selected").text()+`</td>
        <td class="text-center">`+t_arr.jenis+`</td>
        <td class="text-right">`+t_arr.lembar+`</td>
        <td class="text-center">`+t_arr.kupon+` - `+(t_arr.kupon + t_arr.lembar - 1)+`</td>
        <td class="text-right">`+t_arr.liter+`</td>
        <td class="text-center">`+t_arr.harga.toLocaleString(['ban', 'id'])+`</td>
        <td class="text-right">`+t_arr.rupiah.toLocaleString(['ban', 'id'])+`</td>
        <td class="text-right pad-btn">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-info" onclick="clearKupon(`+t_arr.idx+`, '`+t_arr.kd+`', `+t_arr.kd_bbm+`, `+t_arr.jenis+`, `+t_arr.liter+`, `+t_arr.lembar+`, `+t_arr.kupon+`, `+t_arr.rupiah+`, true)"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-sm btn-warning" onclick="hapusKupon(`+t_arr.idx+`, '`+$("#kd_bbm option:selected").text()+`', '`+t_arr.jenis+`')"><i class="fa fa-trash"></i></button>
          </div>
        </td>`;
      
      if (act == 'add') {
        $('#tdetjual tbody').append(`<tr id="tr-`+t_arr.idx+`">`+txt_html+`</tr>`);
      } else {
        $('#tr-'+t_arr.idx).html(txt_html);
      }

      $('#modal-tambah').modal('hide');
      calcTrans();
    }
  }

  function hapusKupon(idx, bbm, jenis) {
    if(confirm('Yakin ingin menghapus Kupon '+bbm+' @ '+jenis+' literan ?')){
      tdetjual.splice(idx, 1);
      $('#tr-'+idx).remove();
      reloadDetail();
      calcTrans();
    }
  }
</script>