<% layout('layout') -%>

<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box" id="box-tinstansi">
        <div class="box-header">
          <h3 class="box-title">Data Instansi</h3>
        </div>
        <div class="box-body">
          <div id="alert-view"></div>
          <table id="tinstansi" class="display" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>DC</th>
                <th>Nama</th>
                <th class="text-right has-button"><button type="button" class="btn btn-primary btn-sm" onclick="clearInput('', '', true)"><i class="fa fa-plus"></i></button></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>DC</th>
                <th>Nama</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <% for (var i=0; i<instansi.length; i++) { %>
                <tr>
                  <td><%= instansi[i].dc %></td>
                  <td><%= instansi[i].nama %></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-info" onclick="clearInput('<%= instansi[i].dc %>', '<%= instansi[i].nama %>', true)"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-sm btn-warning" onclick="hapus('<%= instansi[i].dc %>', '<%= instansi[i].nama %>')"><i class="fa fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="box" id="box-instansi">
        <div class="box-header">
          <h3 class="box-title">Kelola Instansi</h3>
        </div>
        <form id="form-instansi" onsubmit="return simpan()">
          <div class="box-body">
            <div id="alert-input"></div>
            <div class="row">
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>DC</label>
                  <input type="hidden" name="odc" id="odc">
                  <input type="text" class="form-control" placeholder="Kode DC" name="dc" id="dc" required>
                </div>
              </div>
              <div class="col-md-10 pl-1">
                <div class="form-group">
                  <label>Nama</label>
                  <input type="text" class="form-control" placeholder="Nama Instansi" name="nama" id="nama" required>
                </div>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-sm" onclick="$('#form-instansi').submit()"><i class="now-ui-icons ui-1_check"></i> SIMPAN</button>
            <button type="button" class="btn btn-default btn-sm" onclick="clearInput('', '', false)"><i class="now-ui-icons ui-1_simple-remove"></i> BATAL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    tinstansi = $('#tinstansi').DataTable({
      columns: [
        { data: 'dc' },
        { data: 'nama' },
        { data: 'tombol', className: 'text-right has-button', orderable: false }
      ]
    });

    $('#tinstansi tbody').on( 'click', 'div.btn-group', function () {
      active_row = $(this).parents('tr');
    });
  });

  $('#box-instansi').hide();
  var tinstansi, active_row;

  function clearInput(dc, nama, show) {
    if (show) {
      $('#box-tinstansi').slideUp('fast', function() {
        $('#box-instansi').slideDown('fast');
        $('#nama').focus();
        
        if (dc=='') {
          $("#box-instansi").LoadingOverlay("show");
          $.ajax({
            type      : 'GET',
            url       : '/instansi/kodeGen'
          }).done(function(kode) {
            $('#dc').val(kode);
            $("#box-instansi").LoadingOverlay("hide", true);
          });
        } else { $('#dc').val(dc); }
      });
    } else {
      $('#box-instansi').slideUp('fast', function() {
        $('#dc').val(dc);
        $('#box-tinstansi').slideDown('fast');
      });
    }
    
    $('#odc').val(dc);
    $('#nama').val(nama);
  }

  function simpan() {
    $("#box-instansi").LoadingOverlay("show");
    $.ajax({
      type: 'POST',
      url: '/instansi',
      data: $('#form-instansi').serialize()
    }).done(function(data) {
      if (data.res == 'SUKSES') {
        if (data.op == 'BARU') {
          js_fun.show_notif('<strong>Sukses!</strong> Data baru telah berhasil tersimpan.', 'success');
        } else {
          js_fun.show_notif('<strong>Sukses!</strong> Data telah berhasil dirubah.', 'success');
        }
      } else if (data.res == 'KODE') {
        js_fun.show_notif('<strong>Gagal!</strong> Kode instansi telah digunakan.', 'warning');
      } else {
        js_fun.show_notif('<strong>Gagal!</strong> Koneksi bermasalah.', 'warning');
      }

      if (data.res == 'SUKSES') {
        reloadTampilan(data.op);
      }
    }).fail(function (jqXHR, textStatus) {
      if(confirm('Simpan data gagal, coba lagi?')){ simpan(); }
    }).always(function () {
      $('#box-instansi').LoadingOverlay('hide', true);
    });
    return false;
  }

  function hapus(dc, nama) {
    if(confirm('Yakin ingin menghapus '+nama+' ?')){
      $('#box-tinstansi .box-body').LoadingOverlay('show');
      jQuery.ajax({
        type: 'DELETE',
        url: '/instansi',
        data: { dc: dc }
      }).done(function(data) {
        if (data.res == 'SUKSES') {
          tinstansi.row(active_row).remove().draw();
          active_row = null;
          js_fun.show_notif('<strong>Sukses!</strong> Data berhasil dihapus.', 'success');
        }else{ js_fun.show_notif('<strong>Gagal!</strong> Data gagal dihapus.', 'warning'); }
      }).fail(function (jqXHR, textStatus) {
        if(confirm('Hapus data gagal, coba lagi?')){ hapus(dc, nama); }
      }).always(function () {
        $('#box-tinstansi .box-body').LoadingOverlay('hide', true);
      });
    }
  }

  function reloadTampilan(op) {
    var dc = $('#dc').val(), nama = $('#nama').val();
    var data = {
      dc      : dc,
      nama    : nama,
      tombol  : `<div class="btn-group">
        <button type="button" class="btn btn-sm btn-info" onclick="clearInput('`+dc+`', '`+nama+`', true)"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-sm btn-warning" onclick="hapus('`+dc+`', '`+nama+`')"><i class="fa fa-trash"></i></button>
      </div>`
    };
    
    if(op=='UBAH'){ tinstansi.row(active_row).remove().draw(); }
    tinstansi.row.add(data).draw();
    active_row = null;

    clearInput('', '', false);
    $('#alert-input').html('');
  }
</script>